################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/tp_pav/.vs/Juventus/v16/Server/sqlite3
